/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    background-image: url(../../images/light_grey_dots_background.webp);
    background-size: 20%;
    background-repeat: repeat;
    background-color: #f9f9f9;
    background-attachment: fixed;
  }

/* Sección de proyectos */
.projects {
    padding: 3rem 0 3rem 0;
    text-align: center;
}

.projects h2 {
    color: #333;
    border-radius: 50px;
    margin: .5em;
}

.projects-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    text-align: center;
    margin: 2em 0 2em 0;
    background: #f9f9f9;
    border: dashed #287d7d 1px;
}

/* Contenedor de tarjetas */
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 780px;
    margin: auto;
}

/* Tarjeta */
.card {
    background: white;
    border-radius: 10px;
    padding: 1em;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-top: #287d7d solid 5px;
    width: 350px;
}

.card:hover {
    transform: scale(1.05);
}

.card button {
    margin: 1em;
}

/* Imagen de la tarjeta */
.card img {
    border-radius: 50%;
    width: 50%;
    height: auto;
    object-fit: cover;
}

/* Contenido de la tarjeta */
.card-content {
    margin: 1em;
}

.card-content h3 {
    margin: 10px 0;
    color: #333;
}

.card-content p {
    color: #666;
    font-size: 1em;
    height: 50px;
}

    /*Tablets Portrait*/
    @media (min-width: 451px) and (max-width: 1023px) and (min-height: 720px) {
        body {
            background-size: 50%;
          }
    /* Contenedor de tarjetas */
    .project-container {
        max-width: 80vw;
    }

    }
  
      /*Mobiles Portrait*/
    @media (max-width: 482px) {
       
        body {
            background-size: 50%;
          }
        /* Contenedor de tarjetas */
        .project-container {
            max-width: 90vw;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        }

        .card {
            background: white;
            border-radius: 10px;
            padding: 1em;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            border-top: #287d7d solid 5px;
            width: 350px;

            width: 45vw;
            height: 30em;
            font-size: xx-small;
            padding: .5em;
        }

        .card button {
            margin: 2em 1em 1em 1em;
            font-size: xx-small;
        }
        
        .card-content h3 {
            white-space: nowrap;
        }

       
    }
  
    /*Mobiles Landscape*/
    @media (max-height: 450px) and (orientation: landscape) {
      
    }