@keyframes Apear0 {
    from {
    animation-delay: 25ms;
      scale: 200%;
    }
    to {
      scale: 1;
    }
}
@keyframes Apear1 {
    from {
    animation-delay: 25ms;
      opacity: 0;
      transform: translate(400px);
    }
    to {
      opacity: 1;
    }
}
@keyframes ApearLeft {
    from {
      opacity: 0.1;
      transform: translateX(-400px); /* Inicia 400px más arriba */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Termina en su posición original */
    }
  }

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: monospace !important;
}

body {
    overflow: hidden;
    margin: 0 !important;
}

p {
    hyphens: auto;
}

/*Portada*/
.welcome-section{
    background-size: cover;
    background-position: center;
    background-color: rgb(40, 121, 125);
    color: white;
    padding: 10vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}
.ws0{
    animation: Apear0 1s ease-in-out forwards;
    font-size: 24px;
}
.ws0 img{
    width: 400px;
    pointer-events: none;
}
.ws1{
    width: 800px;
    transform: rotateY(.5turn);
    animation: Apear1 .5s ease-in-out forwards;
}


main{
    display: flex;
    flex-direction: column;
    background-image: url(../../images/resource/light_grey_dots_background.webp);
    background-repeat: repeat;
    background-size: 20%;
    align-items: center;
}
.secN0, .secN1, .secN2, .secN3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    justify-content: center;
    font-family: monospace;
    /*border: 1px solid black;*/
    padding: 5vh;
    margin: 50px;
    height: 100vh;
    width: 90%;
}
.sub-title-main{
    color: rgb(71, 68, 68);
    font-size: 32px;
}

/*#Seccion ¿Quienes Somos?*/
.secN0{
    align-items: normal;
    padding-top: 10%;
}
.img-secN0 {
    width: 650px;
    margin: 50px;
    height: fit-content;
    border-radius: 20px;
    opacity: 0; /* Inicialmente invisible */
    transform: translateX(-100px); /* Desplazamiento inicial */
    transition: all 0.5s ease-in-out;
}

.img-secN0.appear {
    opacity: 1;
    transform: translateX(0); /* Regresar a su posición original */
}

.secN0 div{
    margin: 50px;
    color: rgb(71, 68, 68);
    font-size: 28px;
    font-family: monospace;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 20px;
    height: fit-content;
}

/*Seccion Nuestro Servicio*/
.secN1{
    background-size: cover;
    background-position: center;
    flex-direction: column;
    height: fit-content;
}
.img-ft-desk{
    width: 1300px;
    margin: 20px;
    height: fit-content;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-in-out;
}
.img-ft-desk.appear{
    opacity: 1;
    transform: translateY(0);
}
.img-ft-mobile{
    display: none;
    width: 1300px;
    margin: 20px;
    height: fit-content;
    border-radius: 20px;
}

/*Seccion Paquetes*/
.secN2{
    flex-direction: column;
    color: rgb(71, 68, 68);
}
.secN2 p{
    font-size: 18px;
}
.secN2 section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}
.paquete, .paqueteH{
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    align-items: center;
    margin: 20px;
    text-wrap: nowrap;
    background-color: white;
    transition: scale 1s;
}
.paquete div, .paqueteH div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paquete{
    border: .5px solid rgb(40, 121, 125);
    box-shadow: 0 0 5px 0 rgb(40, 121, 125);
}
.paquete p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1em;
}
.paqueteH{
    border: .5px solid #673de6;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}
.btn-hostinger{
    all: unset;
    border-radius: 10px;
    padding: 10px;
    margin: 5%;
    color: white;
    background-color: #673de6;
    transition: all .3s;
}
.btn-hostinger:hover{
    background-color: #522fb9;
    cursor: pointer;
}

/*Seccion Politicas*/
.secN3 section{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 50px;
    margin: 50px;
    border-radius: 30px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    font-family: monospace;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.secN3 section a{
    display: flex;
    color: rgb(71, 68, 68);
    text-decoration: none;
    align-items: center;
    white-space: nowrap;
}

@media (min-width: 1367px) {
    
}

@media (min-width: 1025px) and (max-width: 1366px){
    
    .ws0{
        font-size: 18px;/**/
    }
    .ws0 img{
        width: 300px;/**/
    }
    .ws1{
        width: 500px;/**/
    }
   
    .secN0 img{
        width: 450px;/**/
        margin: 20px;/**/
    }
    .secN0 div{
        margin: 50px;
        font-size: 18px;/**/
    }
    
    .secN1 img{
        width: 900px;/**/
        margin: -5px;/**/
    }
    
    .sub-title-main{
        margin: 20px;/**/
        color: rgb(71, 68, 68);
        font-size: 28px;
    }
    .secN2 p{
        font-size: 12px;/**/
    }
    .secN2 section{
        margin: 10px;/**/
    }
    .paquete, .paqueteH{
        font-size: 12px;/**/
        margin: 5px 15px 5px 15px;/**/
    }
    
    .secN3 section{
        font-size: 14px;/**/
    }

}

@media (min-width: 769px) and (max-width: 1024px){
    .ws0{
        font-size: 18px;/**/
    }
    .ws0 img{
        width: 300px;/**/
    }
    .ws1{
        width: 500px;/**/
    }
   
    .secN0 img{
        width: 450px;/**/
        margin: 20px;/**/
    }
    .secN0 div{
        margin: 50px;
        font-size: 14px;/**/
    }
    
    .secN1 img{
        width: 900px;/**/
        margin: -5px;/**/
    }
    
    .sub-title-main{
        color: rgb(71, 68, 68);
        font-size: 28px;
    }
    .secN2 p{
        font-size: 12px;/**/
    }
    .secN2 section{
        margin: 10px;/**/
    }
    .paquete, .paqueteH{
        font-size: 12px;/**/
        margin: 5px 15px 5px 15px;/**/
        text-wrap: initial;
    }
    
    .secN3 section{
        font-size: 14px;/**/
    }
}

@media (min-width: 427px) and (max-width: 768px){
    
    main{
        background-size: 50%;
    }

    .welcome-section{
        flex-direction: column-reverse;/**/
    }
    
    .ws1{
        width: 400px;
    }
    
    .secN0, .secN1, .secN2, .secN3{
        flex-direction: column;/**/
        align-items: center;
    }
    
    .secN0{
        padding: 20px;/**/
        margin: 20px;/**/
    }
    .secN0 img{
        width: 350px;/**/
        margin: 20px;/**/
    }
    .secN0 div{
        margin: 20px;/**/
        font-size: 16px;/**/
    }
    .sub-title-main{
        color: rgb(71, 68, 68);
    }
    
    .secN1{
        padding: 1vh;/**/
        margin: 20px;/**/
    }
    .secN1 .img-container{
        width: 100%;
        overflow-x: scroll;/**/
    }
    .img-ft-desk{
        width: 400px;/**/
        margin: 20px;
        display: none;
    }
    .img-ft-mobile{
        display: block;
        width: 90%;
        margin: 0px;
        height: fit-content;
        border-radius: 20px;
    }
    
    .secN2{
        padding: 1vh;/**/
        margin: 20px;/**/
        height: fit-content;
    }
    .sub-title-main{
        text-wrap: nowrap;
    }
    .secN2 section{
        flex-direction: column;
        margin: 20px;
        width: 100%;
    }
    .paquete, .paqueteH{
        margin: 20px;
        text-wrap: initial;/**/
    }
    .paquete p, .paqueteH p{
        font-size: .7em;
    }
    .secN3{
        background-size: cover;
        background-position: center;
        padding: 1vh;/**/
        margin: 10px;/**/
        height: 80vh;
        width: 100vw;
    }
}

@media (max-width: 426px){
    main{
        background-size: 50%;
    }

    .welcome-section{
        flex-direction: column-reverse;/**/
        padding: 30px;
        padding-top: 0px;
    }
    .ws0 img{
        width: 300px;
    }
    .ws1{
        width: 400px;
    }
    
    .secN0, .secN1, .secN2, .secN3{
        flex-direction: column;/**/
        align-items: center;
    }
    
    .secN0{
        padding: 20px;/**/
        margin: 20px;/**/
    }
    .secN0 img{
        width: 250px;/**/
        margin: 20px;/**/
    }
    .secN0 div{
        margin: 20px;/**/
        font-size: 16px;/**/
    }
    .sub-title-main{
        color: rgb(71, 68, 68);
    }
    
    .secN1{
        padding: 5vh;/**/
        margin: 20px;/**/
    }
    .img-ft-desk{
        width: 400px;/**/
        margin: 20px;
        display: none;
    }
    .img-ft-mobile{
        display: block;
        width: 90%;
        margin: 0px;
        height: fit-content;
        border-radius: 20px;
    }
    
    .secN2{
        padding: 1vh;/**/
        margin: 20px;/**/
        height: fit-content;
    }
    .sub-title-main{
        text-wrap: nowrap;
    }
    .secN2 section{
        flex-direction: column;
        margin: 20px;
        width: 100%;
    }
    .paquete, .paqueteH{
        margin: 20px;
        text-wrap: initial;/**/
    }
    .paquete p, .paqueteH p{
        font-size: .7em;
    }
    .secN3{
        background-size: cover;
        background-position: center;
        padding: 1vh;/**/
        margin: 10px;/**/
        height: 80vh;
        width: 100vw;
    }
}

/*Otros*/
@media (max-height: 550px) {
    .ws0 img{
        width: 180px;
    }
    .ws1{
        width: 300px;
    }
    .secN0{
        margin: 20px;
        padding: 10px;
    }
    .secN0 div{
        margin: 10px;
    }
    .secN0 img{
        width: 250px;
    }

    .secN1 .img-ft-desk{
        width: 680px;
    }

    #redes{
        margin: 0px;
    }
}
