
*{
 font-family: monospace; 
}

button{
  background-color: #287d7d;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

button:active{
  scale: .9;
}

button:hover{
  background-color: #333;
  transform: translateY(5px);
  scale: 1.05;
  border: 1px solid white;
}

body{
 margin: 0 !important;
}

.btn-back {
  padding: 10px;
  border-radius: 0px 0px 10px 0px;
  position: fixed;
  z-index: 999;
  transform:  translateY(-1px) !important;
}

.btn-back:hover {
  background-color: #333;
  scale: 1.1;
  padding-top: 2rem;
}

.btn-back #back {
  transition: all .3s ease;
}
.btn-back:hover #back {
  transform: translateX(-5px);
}

.facebook-icon, .instagram-icon, .google-icon{
  transition: color .2s;
}

.facebook-icon:hover{
  color: rgb(59, 89, 152);
}

.google-icon:hover{
  color: rgb(70, 116, 212);
}

.instagram-icon:hover{
  color: rgb(238,42,123);
}

/* Tidio */

#button-body:hover {
  background-color: #333 !important;
}

/**/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
